
.contain_text {
  height: 400px;
  background-color: rgba(29, 114, 8, 0.966);

  margin: 50px 0px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.233);
  overflow-wrap: break-word;
}

.contain_text h1 {
  font-size: 50px;
  text-align: center;
  opacity: 50%;
  transition: all 0.5s;
}

.contain_text h1:hover {
  opacity: 100%;
}
.content {
  font-size: 20px;
  margin: 20px 0px;
  opacity: 75%;
}

.heading {
  font-size: 20px;
}

.btn-black {
  background-color: black;
  color: rgba(255, 255, 255, 0.555);
}

.btn-black:hover {
  color: white;
}

.btn-round {
  border-radius: 50px !important;
  width: 100px;
}

.btn-primary:hover {
  box-shadow: 10px 10px 10px rgba(1, 204, 255, 0.363);
}

.btn-danger:hover {
  box-shadow: 10px 10px 10px rgba(255, 39, 1, 0.486);
}

.btn-success:hover {
  box-shadow: 10px 10px 10px rgba(40, 235, 14, 0.925);
}

.btn-warning:hover {
  box-shadow: 10px 10px 10px rgba(235, 231, 3, 0.979);
}

.btn-secondary:hover {
  box-shadow: 10px 10px 10px rgba(145, 146, 142, 0.925);
}

.btn-info:hover {
  box-shadow: 10px 10px 10px rgba(14, 202, 235, 0.925);
}

.btn-light:hover {
  box-shadow: 10px 10px 10px rgba(240, 243, 240, 0.925);
}

.btn-dark:hover {
  box-shadow: 10px 10px 10px rgba(18, 19, 18, 0.925);
}
 #text_area_text {
 border:1px solid blue;
 border-radius: 25px;
 padding: 10px;
 }
 #text_area_text:focus{
   outline: 0px;
 }

 .textarea_container{
 margin-top: 20px;
 }